@model PagedList.IPagedList<BPOfficeSupplies.Models.WishItem>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using BPOfficeSupplies.BusinessLogic
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    var result = TempData["AlertMessage"] ?? string.Empty;
    CategoryLogic category = new CategoryLogic();
    ItemLogic itemLogic = new ItemLogic();
    QuoteLogic qLogic = new QuoteLogic();
}

<script>
    var msg = '@result';
    if (msg == "Item successfully added.") {
        $("#addItemSuccess").modal("show");
    }
    else {
        $("#addItemErr").modal("show");
    }


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#prevImg').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<style>
    .columnForm {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .rowForm:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="panel panel-info">
    <h3 class="panel-heading panel-info">My Wishlist - @Model.Count() Item(s) </h3>
    @using (Html.BeginForm("MyWishList", "WishList", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <p style="text-align:center">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "", @placeholder = "Search Item", @style = "width:200px" })
            <button style="margin-left:5px" type="submit" class="btn btn-primary">Search <i class="glyphicon glyphicon-search" style="color:limegreen"></i> </button>
            <a onclick="location.href = '/WishList/MyWishList'" style="margin-left:5px;" class="btn btn-primary">Clear Search <i class="glyphicon glyphicon-refresh" style="color:limegreen"></i> </a>
            <button style="margin-left:5px" type="button" class="btn btn-primary" onclick="CreateQuote()">New Quote <i class="glyphicon glyphicon-plus-sign" style="color:limegreen"></i> </button>

        </p>
        <div class="panel-body">
            <table class="tale table-bordered table-striped" style="width:100%">
                <tr>
                    <th>Item</th>
                    <th>Item Number</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding-left:50px"><img src="~/Content/ItemPictures/@itemLogic.GetItem(item.ItemId).ItemPicture" height="100" width="150" /></td>
                        <td>@itemLogic.GetItem(item.ItemId).ItemNumber</td>
                        <td>@itemLogic.GetItem(item.ItemId).Description</td>
                        <td>@category.GetCategory(itemLogic.GetItem(item.ItemId).CategoryId).CategoryName</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" onclick="RemoveFromWishlist('@item.ItemId')">Remove <span class="fa fa-trash"></span> </button>
                            @if (qLogic.HasPendingQuote(User.Identity.Name))
                            {
                                <button type="button" class="btn btn-warning btn-sm addtoquote" onclick="OpenAddToQuoteModal('@item.ItemId')" id="">Add To Quote <span class="fa fa-plus"></span> </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-warning btn-sm addtoquote hidden" onclick="OpenAddToQuoteModal('@item.ItemId')" id="">Add To Quote <span class="fa fa-plus"></span> </button>
                            }
                        </td>
                    </tr>
                }
            </table>

            <span style="margin-top:5%">
                @Model.Count Records(s) Found - Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </span>
            <span style="margin-left:5%">
                @Html.PagedListPager(Model, page => Url.Action("MyWishList",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </span>
        </div>
    }
</div>

<div class="modal fade" id="addToquoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Add Item To Quote</h2>
            </div>
                <input type="text" name="ItemId" id="addItemtxt" hidden/>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Quantity", htmlAttributes: new { @class = "control-label" })
                                @Html.Editor("qty", new { htmlAttributes = new { @class = "form-control", @id = "qtytxt" } })
                                @Html.ValidationMessage("", "", new { @class = "text-danger", @id = "qtyerr" })
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AddItemToQuote()">Add</button>
                </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Delete Confirmation</h2>
            </div>
            <form id="deleteForm" action="~/Items/DeleteItem" method="post">
                <input type="text" name="id" id="deletId" hidden />
                <div class="modal-body">
                    <p style="text-align:center">Are you sure you want to delete item?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="$('#deleteForm').submit(); $('#deleteConfirmation').modal('hide')">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="addItemSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Success</h2>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Success: Item successfully saved.</p>
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-check" style="font-size:60px;color:limegreen"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addItemErr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Error</h2>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Error: Failed to save item.</p>
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-exclamation-sign" style="font-size:60px;color:red"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>











