@model BPOfficeSupplies.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    var message = TempData["response"] ?? string.Empty;
    if (User.Identity.Name=="Admin@gmail.com")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    }
}

<script>
    var msg = '@message';
    if (msg)
        alert(msg);
</script>

<div class="panel panel-info">
    <h3 class="panel-heading panel-info">Update Profile</h3>
    <div class="panel-body">
        @if (User.IsInRole("Customer"))
        {
            <input type="radio" checked name="typechange"/><span style="margin-left:5px">Change Password</span><span style="margin-left:20px"><input type="radio" name="typechange" onclick="$('#updateCustomer').modal('show')" /></span><span style="margin-left:5px">Update details</span>
        }
        <br />
        <br />
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="updateCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="~/Customers/UpdateProfile" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Details</h5>
                </div>

                <div class="modal-body">
                    <div class="rowForm">
                        <div class="columnForm">
                            <input type="text" name="CustomerId" value="@ViewBag.CustomerId" hidden />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Customer Number", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("CustomerNumber", new { htmlAttributes = new { @class = "form-control", ViewBag.CustomerNumber, @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("FirstName", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("FirstName", new { htmlAttributes = new { @class = "form-control", ViewBag.Surname } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Surname", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("Surname", new { htmlAttributes = new { @class = "form-control", ViewBag.Surname } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("PhoneNumber", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.PhoneNumber } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Residential Address", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("ResidentialAddress", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.ResidentialAddress } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Email Address", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("EmailAddress", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = User.Identity.Name } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columnForm">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
