@model PagedList.IPagedList<BPOfficeSupplies.Models.Item>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using BPOfficeSupplies.BusinessLogic
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    var result = TempData["AlertMessage"] ?? string.Empty;
    CategoryLogic category = new CategoryLogic();
    WishListLogic wishlogic = new WishListLogic();
}

<script>
    var msg = '@result';
    if (msg == "Item successfully added.") {
        $("#addItemSuccess").modal("show");
    }
    else {
        $("#addItemErr").modal("show");
    }


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#prevImg').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<style>
    .columnForm {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .rowForm:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="panel panel-info">
    <h3 class="panel-heading panel-info">Catalogue - @Model.Count() Item(s) </h3>
    @using (Html.BeginForm("Customer", "Home", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <p style="text-align:center">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "", @placeholder = "Search Item", @style = "width:200px" })
            <button style="margin-left:5px" type="submit" class="btn btn-primary">Search <i class="glyphicon glyphicon-search" style="color:limegreen"></i> </button>
            <a onclick="location.href = '/Home/Customer'" style="margin-left:5px;" class="btn btn-primary">Clear Search <i class="glyphicon glyphicon-refresh" style="color:limegreen"></i> </a>
        </p>
        <div class="panel-body">
            <table class="tale table-bordered table-striped" style="width:100%">
                <tr>
                    <th>Item</th>
                    <th>Item Number</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding-left:50px"><img src="~/Content/ItemPictures/@item.ItemPicture" height="100" width="150" /></td>
                        <td>@item.ItemNumber</td>
                        <td>@item.Description</td>
                        <td>@category.GetCategory(item.CategoryId).CategoryName</td>
                        <td>
                            @{
                                if (wishlogic.isInList(User.Identity.Name, item.ItemId))
                                {
                                    <button type="button" class="btn btn-success btn-sm">Added To Wishlist <span class="fa fa-check"></span> </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary btn-sm)" onclick="AddToWishList('@item.ItemId');alert(this.class)">Add To Wishlist <span class="fa fa-star"></span> </button>
                                }
                            }
                        
                        </td>
                    </tr>
                }
            </table>

            <span style="margin-top:5%">
                @Model.Count Records(s) Found - Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </span>
            <span style="margin-left:5%">
                @Html.PagedListPager(Model, page => Url.Action("Customer",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </span>
        </div>
    }
</div>

<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Delete Confirmation</h2>
            </div>
            <form id="deleteForm" action="~/Items/DeleteItem" method="post">
                <input type="text" name="id" id="deletId" hidden />
                <div class="modal-body">
                    <p style="text-align:center">Are you sure you want to delete item?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="$('#deleteForm').submit(); $('#deleteConfirmation').modal('hide')">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="addItemSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Success</h2>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Success: Item successfully saved.</p>
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-check" style="font-size:60px;color:limegreen"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addItemErr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Error</h2>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Error: Failed to save item.</p>
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-exclamation-sign" style="font-size:60px;color:red"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
            </div>
            <div class="modal-body">
                <div class="rowForm">
                    <div class="columnForm">
                        <form action="~/Items/AddItem" method="post" enctype="multipart/form-data" id="SubmitItemForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Description", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", @id = "Descriptiontxt" } })
                                        @Html.ValidationMessage("", "", new { @class = "text-danger", @id = "Descriptionerr" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Category", htmlAttributes: new { @class = "control-label" })
                                        <select name="CategoryId" id="Categorytxt" class="form-control">
                                            <option value="">--Select Category--</option>
                                            @foreach (var a in ViewBag.categories)
                                            {
                                                <option value="@a.CategoryId">@a.CategoryName</option>
                                            }
                                        </select>
                                        @Html.ValidationMessage("", "", new { @class = "text-danger", @id = "Categoryerr" })
                                    </div>
                                </div>

                                @*<div class="col-md-12">
                                        <div class="form-group">
                                            @Html.Label("Price(R)", htmlAttributes: new { @class = "control-label" })
                                            @Html.Editor("Price", new { htmlAttributes = new { @class = "form-control", @id = "Pricetxt" } })
                                            @Html.ValidationMessage("", null, new { @class = "text-danger", @id = "Priceerr" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.Label("Quantity In Stock", htmlAttributes: new { @class = "control-label" })
                                            @Html.Editor("QuantityInStock", new { htmlAttributes = new { @class = "form-control", @id = "QuantityInStocktxt" } })
                                            @Html.ValidationMessage("", null, new { @class = "text-danger", @id = "QuantityInStockerr" })
                                        </div>
                                    </div>*@

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Upload Picture", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("file", new { htmlAttributes = new { @class = "form-control", @type = "file", @id = "ItemPicturetxt", @accept = "image/*", @onchange = "readURL(this);" } })
                                        @Html.ValidationMessage("", null, new { @class = "text-danger", @id = "ItemPictureerr" })
                                    </div>
                                </div>


                            </div>

                        </form>
                    </div>
                    <div class="columnForm">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Picture Preview", htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div style="width:200px;height:200px;border:1px solid black">
                            <img id="prevImg" style="height:200px;width:200px;" alt="Item Picture" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveItem()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
            </div>
            <div class="modal-body">
                <div class="rowForm">
                    <div class="columnForm">
                        <form action="~/Items/UpdateItem" method="post" enctype="multipart/form-data" id="SubmitUpdateItemForm">
                            <input type="text" name="itemid" id="UpdateItemIdtxt" hidden />
                            <input type="text" name="ItemNumber" id="UpdateItemNumbertxt" hidden />
                            @*<input type="text" name="DateAdded" id="UpdateDateAddedtxt" hidden/>*@
                            <input type="text" name="ItemPicture" id="UpdateItemPicturetxt" hidden />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Description", htmlAttributes: new { @class = "control-label" })
                                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", @id = "UpdateDescriptiontxt" } })
                                        @Html.ValidationMessage("", "", new { @class = "text-danger", @id = "UpdateDescriptionerr" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Category", htmlAttributes: new { @class = "control-label" })
                                        <select name="CategoryId" id="UpdateCategorytxt" class="form-control">
                                            <option value="">--Select Category--</option>
                                            @foreach (var a in ViewBag.categories)
                                            {
                                                <option value="@a.CategoryId">@a.CategoryName</option>
                                            }
                                        </select>
                                        @Html.ValidationMessage("", "", new { @class = "text-danger", @id = "UpdateCategoryerr" })
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="columnForm">

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateItem()">Save changes</button>
            </div>
        </div>
    </div>
</div>





