@model PagedList.IPagedList<BPOfficeSupplies.Models.Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var result = TempData["AlertMessage"] ?? string.Empty;
}


<script>
    var msg = '@result';
    if (msg == "Category successfully added.") {
        $("#addCategorySuccess").modal("show");
    }
    else {
        $("#addCategoryErr").modal("show");
    }
</script>


<div class="panel panel-info">
    <h3 class="panel-heading panel-info">Categories - @Model.Count() Categories(s)</h3>
    @using (Html.BeginForm("AllCategories", "Categories", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <p style="text-align:center">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "", @placeholder = "Search Category", @style = "width:200px" })
            <button style="margin-left:5px" type="submit" class="btn btn-primary">Search <i class="glyphicon glyphicon-search" style="color:limegreen"></i> </button>
            <a onclick="location.href = '/Categories/AllCategories'" style="margin-left:5px;" class="btn btn-primary">Clear Search <i class="glyphicon glyphicon-refresh" style="color:limegreen"></i> </a>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addCategory">Add Category <span class="glyphicon glyphicon-plus-sign"></span></button>
        </p>
        <div class="panel-body">
            <table class="tale table-bordered table-striped" style="width:100%">
                <tr>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Date Updated</th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.DateAdded</td>
                        <td>@item.DateUpdated</td>
                        <td><button type="button" onclick="OpenCategoryModal('@item.CategoryId')" class="btn btn-primary btn-sm">Update</button> <button type="button" class="btn btn-danger btn-sm" onclick="OpenDeleteCategoryModal('@item.CategoryId')">Delete</button></td>
                    </tr>
                }
            </table>
            <span style="margin-top:5%">
                @Model.Count Records(s) Found - Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </span>
            <span style="margin-left:5%">
                @Html.PagedListPager(Model, page => Url.Action("Admin",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </span>
        </div>
    }
</div>

<div class="modal fade" id="addCategorySuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Success</h2>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Success: Category successfully saved.</p>
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-check" style="font-size:60px;color:limegreen"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCategoryErr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:300px;height:300px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Error</h2>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Error: Failed to save category.</p>
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-exclamation-sign" style="font-size:60px;color:red"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
            </div>
            <div class="modal-body">
                <form action="~/Categories/AddCategory" method="post" id="SubmitCategoryForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Category", htmlAttributes: new { @class = "control-label" })
                                @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control", @id = "CategoryNametxt" } })
                                @Html.ValidationMessage("", "", new { @class = "text-danger", @id = "CategoryNameerr" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveCategory()">Save</button>
            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="updateCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
            </div>
            <div class="modal-body">
                <form action="~/Categories/UpdateCategory" method="post" id="SubmitUpdateCategoryForm">
                    <input type="text" name="id" id="UpdateCategoryId" hidden />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Category", htmlAttributes: new { @class = "control-label" })
                                @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control", @id = "UpdateCategoryNametxt" } })
                                @Html.ValidationMessage("", "", new { @class = "text-danger", @id = "UpdateCategoryNameerr" })
                                <br />
                                <p class="alert alert-warning"><b>Warning:</b> This will change categories in assosciated items.</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateCategory()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCategoryConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:20%">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:350px;height:320px">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="exampleModalLabel">Delete Confirmation</h2>
            </div>
            <form id="deleteCategoryForm" action="~/Categories/DeleteCategory" method="post">
                <input type="text" name="id" id="deleCategorytId" hidden />
                <div class="modal-body">
                    <p style="text-align:center">Are you sure you want to delete category?</p>
                    <p class="alert alert-warning"><b>Warning:</b> This will delete all associated items.</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="$('#deleteCategoryForm').submit(); $('#deleteConfirmation').modal('hide')">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>


