@model PagedList.IPagedList<BPOfficeSupplies.Models.Customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-info">
    <h3 class="panel-heading panel-info">Customers - @Model.Count() Customer(s)</h3>
    <div class="panel-body">
@using (Html.BeginForm("AllCustomers", "Customers", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <p style="text-align:center">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "", @placeholder = "Search Customer", @style = "width:200px" })
        <button style="margin-left:5px" type="submit" class="btn btn-primary">Search <i class="glyphicon glyphicon-search" style="color:limegreen"></i> </button>
        <a onclick="location.href = '/Customers/AllCustomers'" style="margin-left:5px;" class="btn btn-primary">Clear Search <i class="glyphicon glyphicon-refresh" style="color:limegreen"></i> </a>
    </p>
        <table class="tale table-bordered table-striped" style="width:100%">
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.Surname</td>
                    <td>@item.EmailAddress</td>
                    <td>@item.ResidentialAddress</td>
                    <td>@item.PhoneNumber</td>
                </tr>
            }
        </table>

        <span style="margin-top:5%">
            @Model.Count Records(s) Found - Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </span>
        <span style="margin-left:5%">
            @Html.PagedListPager(Model, page => Url.Action("AllCustomers",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </span>
}
    </div>
</div>



