@model PagedList.IPagedList<BPOfficeSupplies.Models.RequestedQuote>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using BPOfficeSupplies.BusinessLogic
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    CustomerLogic logic = new CustomerLogic();

}


<div class="panel panel-info">
    <h3 class="panel-heading panel-info">Your Quotes - @Model.Count() Quote(s)</h3>
    <div class="panel-body">
@using (Html.BeginForm("AllQuotes", "Customers", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <p style="text-align:center">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "", @placeholder = "Search Quotes", @style = "width:200px" })
        <button style="margin-left:5px" type="submit" class="btn btn-primary">Search <i class="glyphicon glyphicon-search" style="color:limegreen"></i> </button>
        <a onclick="location.href = '/Customers/AllQuotes'" style="margin-left:5px;" class="btn btn-primary">Clear Search <i class="glyphicon glyphicon-refresh" style="color:limegreen"></i> </a>
    </p>
        <table class="tale table-bordered table-striped" style="width:100%">
            <tr>
                <th>Quote Number</th>
                <th>Date Quoted</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.QuoteNumber</td>                  
                    <td>@item.DateQuoted</td>
                    <td>@item.RequestStatus</td>
                    <td>
                        @if(item.RequestStatus=="Created")
                        {
                            <button type="button" class="btn btn-primary" onclick="SendQuote('@item.QuoteId')">Send Quote</button>
                            <a href="~/RequestedQuotes/QuoteItemsCustomer/@item.QuoteId" class="btn btn-success">Open Quote</a>
                        }
                        else if(item.RequestStatus=="Sent")
                        {
                            <p>No action required.</p>
                        }
                        else if (item.RequestStatus == "Reviewed")
                        {
                            <a href="~/RequestedQuotes/QuoteItemsCustomer/@item.QuoteId" class="btn btn-success">Open Quote</a>
                        }
                        else if (item.RequestStatus == "Declined")
                        {
                            <button type="button" class="btn btn-primary" onclick="SendQuote('@item.QuoteId')">Send Quote</button>
                        }
                        else if (item.RequestStatus == "Accepted")
                        {
                            <a href="~/RequestedQuotes/QuoteItemsCustomer/@item.QuoteId" class="btn btn-success">View Invoice</a>
                        } 


                    </td>
                </tr>
            }
        </table>
        <span style="margin-top:5%">
            @Model.Count Records(s) Found - Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </span>
        <span style="margin-left:5%">
            @Html.PagedListPager(Model, page => Url.Action("AllQuotes",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </span>
}
    </div>
</div>

